html,
body {
    background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

prm-search > md-content.md-primoExplore-theme.main {
    background: rgba(247,244,237,1);
    background: -moz-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,244,237,1)), color-stop(71%, rgba(250,250,250,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ed', endColorstr='#ffffff', GradientType=0 );

    /*background-image: url(/img/masthead-bottom-img.jpg),url(/img/background-grain.jpg);*/
    /*background-repeat: no-repeat,repeat-x;*/
    /*background-position: top center,top center;*/
}

md-card.default-card {
    box-shadow: 0 1px 0 0 #a9a69c, 2px 4px 5px -2px #a9a69c;
}

md-card.default-card span.md-headline {

    color: #9b0c0a;
    font-weight: 600;

}

/* Change the top nav bar color */

prm-topbar .top-nav-bar {

    background-color: #000;
}

/* Uncomment the following lines to move the facets to the left */

/*
prm-search > .layout-row {
	display: -webkit-flex; !* Safari *!
	-webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
	display: flex;
	flex-flow: row-reverse wrap;
}
.screen-gt-sm .sidebar{
	webkit-flex: 0 0 15%;
	flex: 0 0 15%;
}



/* Search Box Background */
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark::after, prm-search-bar {
    background-color: #791716;
    color: #999999;
}

.prm-secondary-color, prm-search-bookmark-filter .md-button, prm-topbar .top-nav-bar {
    color: #fff;
}

.prm-background,
prm-search-bar .simple-search-wrapper .search-options:after,
prm-search-bar .simple-search-wrapper .search-options md-divider,
.__xs prm-facet,
.__sm prm-facet,
.__sm .sidebar,
.__xs .sidebar,
prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button,
prm-full-view-cont .recommendations-title:after,
prm-full-view-cont .recommendations-title prm-icon,
md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider,
md-card .card-content-block {
    background-color: #fff;

}

md-toolbar.md-primoExplore-theme.default-toolbar,
md-toolbar.default-toolbar:not(.md-menu-toolbar) {
    background-color: gainsboro;
    border-color: #d5d5d5;
}

.prm-background.prm-hue2,
html.prm-hue2,
body.prm-hue2,
.line-clamp-1:after,
.line-clamp-2:after,
.line-clamp-3:after,
.line-clamp-4:after,
.line-clamp-5:after,
prm-search-result-list .results-title,
prm-search-result-list .results-footer,
prm-search-result-list md-list-item,
prm-search-bar .simple-search-wrapper .prm-hue2.search-options:after,
prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2,
.prm-full-view-dialog, .full-view-inner-container, .__xs prm-facet.prm-hue2,
.__sm prm-facet.prm-hue2,
.__sm .prm-hue2.sidebar,
.__xs .prm-hue2.sidebar,
.__xs prm-full-view-cont .recommendations-wrapper,
.__sm prm-full-view-cont .recommendations-wrapper,
prm-recomendation-item .media-on-hover .pin-button,
prm-recomendation-item .media-on-hover .pin-button:hover,
prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button,
.recommendations-title:after, prm-full-view-cont .prm-hue2.recommendations-title:after,
.__xs prm-full-view-cont .recommendations-title:after,
.__sm prm-full-view-cont .recommendations-title:after,
.recommendations-title prm-icon,
prm-full-view-cont .recommendations-title prm-icon.prm-hue2,
.__xs prm-full-view-cont .recommendations-title prm-icon,
.__sm prm-full-view-cont .recommendations-title prm-icon,
md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2,
md-grid-tile,
.tiles-grid-tile,
md-grid-tile md-list prm-spinner.overlay-cover:after,
md-grid-tile .tile-content prm-spinner.overlay-cover:after,
.tiles-grid-tile md-list prm-spinner.overlay-cover:after,
.tiles-grid-tile .tile-content prm-spinner.overlay-cover:after,
md-card.default-card, md-card .prm-hue2.card-content-block {
    background-color: #ffffff;
    border-color: #e1e1e1;
}

prm-search-result-list .results-title {
    background-color: #f7f4ed;
}

.alert-bar {
    background-color: #e3d8bd;
    border-color: #e3d8bd;
}
/* this resides in iframe */
/*div.tabContent.viewIt {*/
/*border: 1px solid #cecbbd;*/
/*}*/

.prm-links, .md-button.arrow-link-button [link-arrow], md-grid-tile .tile-header .header-link .arrow-icon,
.tiles-grid-tile .tile-header .header-link .arrow-icon, md-grid-tile .tile-header .header-link:hover,
.tiles-grid-tile .tile-header .header-link:hover, md-grid-tile .tile-header .md-button,
.tiles-grid-tile .tile-header .md-button {
    color: #5C92BD;
}

.prm-links.prm-links-hover, .md-button.arrow-link-button .prm-links-hover[link-arrow], md-grid-tile .tile-header .header-link .prm-links-hover.arrow-icon,
.tiles-grid-tile .tile-header .header-link .prm-links-hover.arrow-icon, md-grid-tile .tile-header .prm-links-hover.header-link:hover,
.tiles-grid-tile .tile-header .prm-links-hover.header-link:hover, md-grid-tile .tile-header .prm-links-hover.md-button,
.tiles-grid-tile .tile-header .prm-links-hover.md-button {
    color: #226091;
}

.prm-links.prm-alt-link, .md-button.arrow-link-button .prm-alt-link[link-arrow], md-grid-tile .tile-header .header-link .prm-alt-link.arrow-icon,
.tiles-grid-tile .tile-header .header-link .prm-alt-link.arrow-icon, md-grid-tile .tile-header .prm-alt-link.header-link:hover,
.tiles-grid-tile .tile-header .prm-alt-link.header-link:hover, md-grid-tile .tile-header .prm-alt-link.md-button,
.tiles-grid-tile .tile-header .prm-alt-link.md-button {
    color: #45aab4;
}

.prm-links.prm-alt-link.prm-hue1, prm-main-menu[menu-type="full"] md-card .md-headline, .md-button.arrow-link-button .prm-alt-link.prm-hue1[link-arrow], md-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon,
.tiles-grid-tile .tile-header .header-link .prm-alt-link.prm-hue1.arrow-icon, md-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover,
.tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.header-link:hover, md-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button,
.tiles-grid-tile .tile-header .prm-alt-link.prm-hue1.md-button {
    color: #73E9FF;
}

.prm-full-view-dialog prm-brief-result-container .result-item-primary-content {
    border: 1px solid #d6d0bc;
    background: #fff;
}

.prm-full-view-dialog {
    background: rgba(247,244,237,1);
    background: -moz-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,244,237,1)), color-stop(71%, rgba(250,250,250,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(247,244,237,1) 0%, rgba(250,250,250,1) 71%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f4ed', endColorstr='#ffffff', GradientType=0 );;
}

/* WU Customizations */

prm-brief-result .item-title span {
    color: #333;
}
prm-brief-result-container .list-item-primary-content:before {
    opacity: 1;
}

/* Hide the tags option */
#tags {display:none;}
button[aria-label="Tags"]{display:none;}


.full-view-inner-container {
    background: transparent;
}
.item-expanded .secondary-content-holder .md-tab:nth-child(1), .item-expanded .secondary-content-holder md-tab-item:nth-child(1) {
    display:none;
}


/* bigger font in header */

prm-main-menu[menu-type=menu] .md-button {

    font-size: .80em;
}

/* color safe search compass */
.md-button.button-confirm, .service-form-static-panel button.button-confirm prm-icon+span, .service-form-static-panel button.button-confirm prm-icon svg path {
    color: #009900;
}
/* e-journal search bar color fix */
.prm-primary-bg, prm-browse-search-bar, prm-atoz-search-bar, prm-search-bar, prm-newspapers-search-bar, prm-spinner.overlay-cover.light-on-dark:after, prm-tags-search-bar{
    background-color: #791716;
    color: #999999;
}

/* go with a white look/feel for top bar login */

prm-user-area .user-menu-button .user-name {

    text-transform: none;
    font-weight: 600;
    color: #fff;
    text-align: left;
    max-width: 150px;

}

/* hide the facets header */
.sidebar-title {
    display: none;
}



/* chat.css begin */

.chat {
    padding-left: .6em;

}


/* chat.css end */

/* Fix sizing of resource icons in IE */
div.result-item-image > div.media-content-images {
    max-height: 60px;

/* Resource Request Fixes */

div.#resourceInformationHeader {
    display: none;}
}

#deliveryInformationHeader h2 {
    display: none;
}
prm-recomendations .weak-text {
    display: none;
}
/* bookplate hide  */
.bookplate {
    display: none;
   }
/* hide the more link */
#getit_link2 {
    display: none;
}
/* New Chat widget Add */
.chat-tab, .chat-frame-wrap{
    position: fixed;
    bottom: 0px;
    right: 10px;
    border: 0 none;
    z-index: 200;
  }
  
  .chat-tab{
    padding: 10px 10px 8px;
    font-size: 14px;
    border-radius: 3px 3px 0 0;
    font-weight: bold;
  }
  
  .chat-close{
    border: 0 none;
    background: #f5f7fa;
    font-size: 16px;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
  }
  
  .chat-close:hover {
    color: #027bc2;
  }
  
  .chat-frame-wrap{
    width: 300px;
  }
  
  .chat-frame{
    width: 300px;
    height: 280px;
    vertical-align: bottom;
    border-radius: 3px 3px 0 0;
  }
  .facet-to-left .page-nav, .facet-to-left prm-page-nav-menu {
    left: inherit;
    right: 1em;
    direction: rtl;
    margin-bottom: 20px;
}
#chat_widget_icon svg {
    fill: #87cacf;
}
  
.chat-tab{
    color: #87cacf;
    background: #000000;
}

@media only screen and (max-width: 960px) {
   .chat-tab {
       display: none;
   }
    .chat-bottom-padding {
      bottom: 60px;
    }
    body.md-dialog-is-showing .chat-bottom-padding {
      bottom: 0 !important;
    }
  }



/* print styles */
@media print {
    /* hide the sidebar/facets */
    .sidebar {display:none;}

    /* hide the floating page navigation element */
    prm-page-nav-menu {display:none;}

    /* hide the mobile footer toolbar for refining results */
    .bottom-fixed-toolbar {display:none;}

    /* hide the floating scroll to top and pin icons */
    #fixed-buttons-holder {display:none;}

    /* hide the search bar area */
    prm-search-bar {display:none;}

    /* hide the entire primo header */
    .header.topbar-wrapper {display:none;}

    /* hide the white space section opposite the facets sidebar */
    .flex-order-4.flex-lg-15.flex-xl-25.flex-xl-10.flex-md-0.flex-lg-5.flex-0 {display:none;}

    /* hide the load more search results link */
    .button-confirm[translate="nui.brief.results.loadMore"] {display:none;}

    /* hide the white space section below the search results */
    .list-spacer {display:none;}

    /* hide page number */
    .md-subheader {display:none;}

    /*hide the Alert Bar*/
    prm-alert-bar {display: none;}

    /*hide the "# Results"*/
    #mainResults > div.results-title.layout-align-start-center.layout-row {display: none;}

}